In [1]:
import pandas as pd
from mlxtend.preprocessing import TransactionEncoder

In [2]:
dataset = [['Grape', 'Orange', 'Banana', 'Kiwi', 'Pear', 'Mango'],
           ['Durian', 'Orange', 'Banana', 'Kiwi', 'Pear', 'Mango'],
           ['Grape', 'Apple', 'Kiwi', 'Pear'],
           ['Grape', 'Strowberry', 'Corn', 'Kiwi', 'Mango'],
           ['Corn', 'Orange', 'Orange', 'Kiwi', 'Coconut', 'Pear']]

In [3]:
te = TransactionEncoder()
te_ary = te.fit(dataset).transform(dataset)
df = pd.DataFrame(te_ary, columns=te.columns_)
df

,Apple,Banana,Coconut,Corn,Durian,Grape,Kiwi,Mango,Orange,Pear,Strowberry
0,False,True,False,False,False,True,True,True,True,True,False
1,False,True,False,False,True,False,True,True,True,True,False
2,True,False,False,False,False,True,True,False,False,True,False
3,False,False,False,True,False,True,True,True,False,False,True
4,False,False,True,True,False,False,True,False,True,True,False

In [4]:
%pip install mlxtend --upgrade

Looking in indexes: https://pypi.org/simple, https://us-python.pkg.dev/colab-wheels/public/simple/
Requirement already satisfied: mlxtend in /usr/local/lib/python3.7/dist-packages (0.20.0)
Requirement already satisfied: pandas>=0.24.2 in /usr/local/lib/python3.7/dist-packages (from mlxtend) (1.3.5)
Requirement already satisfied: matplotlib>=3.0.0 in /usr/local/lib/python3.7/dist-packages (from mlxtend) (3.2.2)
Requirement already satisfied: scipy>=1.2.1 in /usr/local/lib/python3.7/dist-packages (from mlxtend) (1.4.1)
Requirement already satisfied: numpy>=1.16.2 in /usr/local/lib/python3.7/dist-packages (from mlxtend) (1.21.6)
Requirement already satisfied: scikit-learn>=1.0.2 in /usr/local/lib/python3.7/dist-packages (from mlxtend) (1.0.2)
Requirement already satisfied: joblib>=0.13.2 in /usr/local/lib/python3.7/dist-packages (from mlxtend) (1.1.0)
Requirement already satisfied: setuptools in /usr/local/lib/python3.7/dist-packages (from mlxtend) (57.4.0)
Requirement already satisfied: pyparsing!=2.0.4,!=2.1.2,!=2.1.6,>=2.0.1 in /usr/local/lib/python3.7/dist-packages (from matplotlib>=3.0.0->mlxtend) (3.0.9)
Requirement already satisfied: kiwisolver>=1.0.1 in /usr/local/lib/python3.7/dist-packages (from matplotlib>=3.0.0->mlxtend) (1.4.2)
Requirement already satisfied: python-dateutil>=2.1 in /usr/local/lib/python3.7/dist-packages (from matplotlib>=3.0.0->mlxtend) (2.8.2)
Requirement already satisfied: cycler>=0.10 in /usr/local/lib/python3.7/dist-packages (from matplotlib>=3.0.0->mlxtend) (0.11.0)
Requirement already satisfied: typing-extensions in /usr/local/lib/python3.7/dist-packages (from kiwisolver>=1.0.1->matplotlib>=3.0.0->mlxtend) (4.2.0)
Requirement already satisfied: pytz>=2017.3 in /usr/local/lib/python3.7/dist-packages (from pandas>=0.24.2->mlxtend) (2022.1)
Requirement already satisfied: six>=1.5 in /usr/local/lib/python3.7/dist-packages (from python-dateutil>=2.1->matplotlib>=3.0.0->mlxtend) (1.15.0)
Requirement already satisfied: threadpoolctl>=2.0.0 in /usr/local/lib/python3.7/dist-packages (from scikit-learn>=1.0.2->mlxtend) (3.1.0)

In [5]:
from mlxtend.frequent_patterns import fpgrowth
fpgrowth(df, min_support=0.6)

    support   itemsets
0       1.0        (6)
1       0.8        (9)
2       0.6        (8)
3       0.6        (7)
4       0.6        (5)
5       0.8     (9, 6)
6       0.6     (8, 9)
7       0.6     (8, 6)
8       0.6  (8, 9, 6)
9       0.6     (6, 7)
10      0.6     (5, 6)

In [6]:
fpgrowth(df, min_support=0.6, use_colnames=True)

    support              itemsets
0       1.0                (Kiwi)
1       0.8                (Pear)
2       0.6              (Orange)
3       0.6               (Mango)
4       0.6               (Grape)
5       0.8          (Kiwi, Pear)
6       0.6        (Pear, Orange)
7       0.6        (Kiwi, Orange)
8       0.6  (Pear, Kiwi, Orange)
9       0.6         (Mango, Kiwi)
10      0.6         (Grape, Kiwi)